<html lang="pt-BR"></html>
<head>
    <meta charset="UTF-8">
    <title>Estoque</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='storage.css') }}">
</head>
<body class="storage-page">
    <div class="upper-bar">
        <button onclick="setupForm()">Gerenciar Estoque</button>
        <button onclick="showProducts()">Ver Produtos</button>
    </div>

    <div class="welcome-section">
        <h1>Bem-vindo {{ user }} ao Estoque</h1> 
        <button onclick="window.location.href='{{ url_for('home') }}';">Sair</button>
    </div>
   <div id="formContainer" style="display:none;">
    <h2 id="formTitle">Gerenciar Produtos</h2>
    <form id="productForm" method="POST" action="{{ url_for('storage') }}" onsubmit="handleSubmit(event)">
        <label for="productBarcode">Código de Barras do Produto:</label>
        <input type="text" id="productBarcode" name="barcode">
        <input type="button" value="Verificar" onclick="checkBarcode()">

        <div id="additionalFields" style="display:none;">
            <label for="productName">Nome do Produto:</label>
            <input type="text" id="productName" name="name" required>

            <label for="buyPrice">Preço de compra:</label>
            <input type="number" id="buyPrice" name="buy_price" required step="0.01" min="0">

            <label for="sellPrice">Preço de venda:</label>
            <input type="number" id="sellPrice" name="sell_price" required step="0.01" min="0">

            <label for="productQuantity">Quantidade do Produto:</label>
            <input type="number" id="productQuantity" name="stock" required step="1" min="0">

            <label for="expirationDate">Data de validade:</label>
            <div class="select-container-data" required>
                <select name="month" required>
                    <option value="">Mês</option>
                    {% set months = { 1: "Janeiro", 2: "Fevereiro", 3: "Março", 4: "Abril", 5: "Maio", 6: "Junho", 7: "Julho", 8: "Agosto", 9: "Setembro", 10: "Outubro", 11: "Novembro", 12: "Dezembro" } %}
                    {% for month in range(1, 13) %}
                        <option value="{{ "%02d"|format(month) }}">{{ months[month] }}</option>
                    {% endfor %}
                </select>

                <select name="year" required>
                    <option value="">Ano</option>
                    {% for year in range(2022, 2032) %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>

            <input type="submit" value="Salvar">
        </div>
    </form>

    <div id="productListContainer" style="display: none;"></div>

    <script>
        function setupForm(){
            $('#formContainer').show();
            $('#productListContainer').hide();
            $('#productForm')[0].reset();
            $('#additionalFields').hide();
        }
        function checkBarcode(){
            const barcode = $('#productBarcode').val();
            if (barcode){
                $.ajax({
                    url: '/storage?action=check_barcode&barcode=' + barcode,
                    type: 'GET',
                    success: function(product){
                        if (product.exists){
                            $('#productName').val(product.name);
                            $('#buyPrice').val(product.buy_price);
                            $('#sellPrice').val(product.sell_price);
                            $('#productQuantity').val(product.stock);
                            $('#expirationDate').val(new Date(product.expiration_date).toISOString().split('T')[0]);
                            $('#additionalFields').show();
                        } else {
                            $('#additionalFields').show();
                        }
                    },
                    error: function(){
                        alert('Erro ao verificar código de barras');
                    }
                });
            }
        }
         
        function handleSubmit(event) {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);

            fetch(form.action, {
                method: form.method,
                body: formData,
                headers: {
                    'Accept': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showMessage("Produto salvo com sucesso!");
                    $('#productForm')[0].reset();
                    $('#additionalFields').hide();
                    window.location.href = '{{ url_for('storage') }}';
                } else {
                    showMessage("Erro ao salvar produto: " + data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        }
        function showMessage(message){
            alert(message);
        }
    
        function loadProducts(){
            $.ajax({
                url: '/storage?action=list_products',
                type: 'GET',
                success: function(data){
                    if (data.success){
                        let productList = $('#productListContainer');
                        productList.empty();
                        data.products.forEach(product => {
                            productList.append('<div>' + product.name + ' (id: ' + product.id + ')' + '</div>');
                        });
                        $('#formContainer').hide();
                        $('#productListContainer').show();
                    } else {
                        showMessage('Erro ao carregar produtos: ' + data.message);
                    }
                },
            error: function(){
                alert('Erro ao carregar produtos');
            }
        });}
    
        function showProducts(){
            loadProducts();
            $('#formContainer').hide();
            $('#productListContainer').show();
        }
        $(document).ready(function(){
            //showProducts();//
        });
    
    </script>
</body>

</html>